*{
	margin: 0;
	padding: 0;
}
:root{
	--accent: rgb(165, 121, 255);
	--accent70: rgba(165, 121, 255, 0.70);
	--accent-dark: rgb(22, 62, 0);
	--danger: rgb(205, 40, 40);
}
nav.nav-bar{
	min-height: 50px;
	width: 100%;
	margin: 0 auto;
	border-top: 2px solid var(--accent);
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
	background-color: rgba(248, 249, 249, 0.05);
	backdrop-filter: blur(40px);

	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 60px;
	z-index: 2;
}
.navbar{
	height: 100%;
	max-width: 1250px;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;

}
.nav-item{
	height: 80%;
	margin: 0 1%;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0;
	border: 0px solid red;

	font-size: small;
	font-weight: 500;
	text-decoration: none;
	color: rgb(234, 234, 234);
	letter-spacing: 0.2ex;
	transition: 0.25s all;
}
.nav-item.active{
	color: var(--accent);
}
.navbar .nav-item.logo img{
	height: 100%;
	-width: 100px;
}
.navbar .nav-item.search-bar{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	flex-grow: 1;
	padding: 0 10px;
	position: relative;
}
.navbar .nav-item.search-bar input{
	flex-grow: 1;
	padding: 10px;
	background-color: rgba(255, 255, 255, 0.14);
	outline: 0.5px solid rgba(255, 255, 255, 0.255);
	border: none;
	color: rgb(234, 234, 234);
	border-radius: 5px;
	margin: 0 0px;
	text-indent: 30px;
}
.navbar .nav-item.search-bar input:focus{
	outline: 2px solid var(--accent70);

}
.navbar .nav-item.search-bar span{
	padding: 10px;
	font-size: 20px;

	position: absolute;
	top: 4px;
	left: 10px;
}
.navbar .nav-btn{
	cursor: pointer;
	border-radius: 5px;
	padding: 0px 20px;
	outline: none;
}
.navbar .nav-btn:hover{
	background-color: rgba(255, 255, 255, 0.10);
	outline: 0px solid rgba(255, 255, 255, 1);
}
.navbar .nav-links{
	background-color: rgba(255, 255, 255, 0.1);
	cursor: pointer;
	border-radius: 5px;
	padding: 0px 20px;
	outline: none;
}
.navbar .nav-links:hover{
	outline: 2px solid var(--accent);
}