*{
	letter-spacing: 0.1ex;
}
.home-container{
	height: calc(100vh - 62px) ;
	max-width: 1250px;
	width: 100%;
	display: flex;
	justify-content: space-between;
	margin: 60px auto;
	margin-bottom: 0;
	border: 0px solid red;
	-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25),
	-4px -4px 10px rgba(0, 0, 0, 0.25);
	transform: translateZ(0);
}
.main-body{
	max-width: 1100px;
	width: calc((100% - 164px));
	border: 0px solid ;
	box-sizing: border-box;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-start;
}
